.fondo {
  height: 400px;
  background-image: url(https://i.ibb.co/PcRY824/google-y-spacex-llegan-a-acuerdo-para-impulsar-la-nube-empresarial.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
